@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

@layer base {
  label {
    @apply font-poppins font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-openSans font-bold;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.08) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.08) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.auto-fill-profile input:-webkit-autofill,
.auto-fill-profile input:-webkit-autofill:hover,
.auto-fill-profile input:-webkit-autofill:focus,
.auto-fill-profile input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.08) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(151, 151, 151, 0.1) inset !important;
  -webkit-text-fill-color: rgb(
    105 105 105 / var(--tw-text-opacity, 1)
  ) !important;
  caret-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.react-datepicker-popper {
  left: -20px !important;
}
